# Baixando dados dos Balanços das Empresas Listadas em Bolsa

### Base de Dados CVM

http://dados.cvm.gov.br

**negrito**# Obtendo Dados

In [ ]:
!pip install wget

Collecting wget
  Downloading https://files.pythonhosted.org/packages/47/6a/62e288da7bcda82b935ff0c6cfe542970f04e29c756b0e147251b2fb251f/wget-3.2.zip
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-cp37-none-any.whl size=9681 sha256=cbee3d99fd053cf7db35adb6a61a3d382edb7601662bac872af10aee2218ca66
  Stored in directory: /root/.cache/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
import pandas as pd
import wget
from zipfile import ZipFile
from google.colab.data_table import DataTable
import plotly.graph_objects as go
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import interact

In [ ]:
url_base = 'http://dados.cvm.gov.br/dados/CIA_ABERTA/DOC/DFP/DADOS/'

In [ ]:
arquivos_zip = []
for ano in range(2010,2021):
  arquivos_zip.append(f'dfp_cia_aberta_{ano}.zip')

arquivos_zip

['dfp_cia_aberta_2010.zip',
 'dfp_cia_aberta_2011.zip',
 'dfp_cia_aberta_2012.zip',
 'dfp_cia_aberta_2013.zip',
 'dfp_cia_aberta_2014.zip',
 'dfp_cia_aberta_2015.zip',
 'dfp_cia_aberta_2016.zip',
 'dfp_cia_aberta_2017.zip',
 'dfp_cia_aberta_2018.zip',
 'dfp_cia_aberta_2019.zip',
 'dfp_cia_aberta_2020.zip']

In [ ]:
for arq in arquivos_zip:
  wget.download(url_base+arq)

In [ ]:
for arq in arquivos_zip:
  ZipFile(arq, 'r').extractall('CVM')

In [ ]:
!mkdir DADOS

In [ ]:
nomes = ['DRE_con', 'DRE_ind',]
for nome in nomes:
  arquivo = pd.DataFrame()
  for ano in range(2010,2021):
    arquivo = pd.concat([arquivo, pd.read_csv(f'CVM/dfp_cia_aberta_{nome}_{ano}.csv', sep=';', decimal=',', encoding='ISO-8859-1')])
  arquivo.to_csv(f'DADOS/dfp_cia_aberta_{nome}_2010-2020.csv', index=False)

In [ ]:
dre = pd.read_csv('/content/DADOS/dfp_cia_aberta_DRE_ind_2010-2020.csv')

In [ ]:
dre = dre[dre['ORDEM_EXERC'] == "ÚLTIMO"]
dre

                  CNPJ_CIA    DT_REFER  ...      VL_CONTA ST_CONTA_FIXA
1       00.000.000/0001-91  2010-12-31  ...  7.217390e+07             S
3       00.000.000/0001-91  2010-12-31  ...  4.739110e+07             N
5       00.000.000/0001-91  2010-12-31  ...  4.037200e+04             N
7       00.000.000/0001-91  2010-12-31  ...  2.157491e+07             N
9       00.000.000/0001-91  2010-12-31  ... -1.231410e+06             N
...                    ...         ...  ...           ...           ...
459513  97.837.181/0001-47  2020-12-31  ...  0.000000e+00             N
459515  97.837.181/0001-47  2020-12-31  ...  0.000000e+00             N
459517  97.837.181/0001-47  2020-12-31  ...  6.575000e-01             N
459519  97.837.181/0001-47  2020-12-31  ...  0.000000e+00             N
459521  97.837.181/0001-47  2020-12-31  ...  6.532000e-01             N

[231465 rows x 15 columns]

# Campos de interesse

In [ ]:
df_tab = dre[['CD_CVM', 'DT_REFER', 'DENOM_CIA',	'CD_CONTA',	'DS_CONTA', 'VL_CONTA']]
df_tab

        CD_CVM    DT_REFER  ...                              DS_CONTA      VL_CONTA
1         1023  2010-12-31  ...  Receitas da Intermediação Financeira  7.217390e+07
3         1023  2010-12-31  ...                  Operações de Crédito  4.739110e+07
5         1023  2010-12-31  ...   Operações de Arrendamento Mercantil  4.037200e+04
7         1023  2010-12-31  ...        Resultado de Operações com TVM  2.157491e+07
9         1023  2010-12-31  ...                      Resultado de IFD -1.231410e+06
...        ...         ...  ...                                   ...           ...
459513   21091  2020-12-31  ...       Lucro por Ação - (Reais / Ação)  0.000000e+00
459515   21091  2020-12-31  ...                 Lucro Básico por Ação  0.000000e+00
459517   21091  2020-12-31  ...                                    ON  6.575000e-01
459519   21091  2020-12-31  ...                Lucro Diluído por Ação  0.000000e+00
459521   21091  2020-12-31  ...                                    ON  6.532000e-01

[231465 rows x 6 columns]

# Todo
* Incluir informação do setor
* Selecionar Setor
* Resumir informações por setor (Faturamento; Margem Bruta, Margem Líquida, Ebitda; etc
* Exportar Dataframe para Excel

In [ ]:
df_tab.to_csv("dadosdf.csv", encoding="utf-8",  index=False )